@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
:root{
    --color1:white;
    --primaryColor:black;
    --secondaryColor:rgb(185, 64, 102);
   }

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box; 
    text-decoration: none;
     list-style: none;
    font-family: 'Courgette', cursive;
}
/*-----start header-----*/

header{
    height: 4.3rem;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10%;
   
   
}
.logo img{
    max-width: 150px;
    height: auto;
    position: relative;
    right: 8rem;
    top: 7px;
}
.navmenu{
    display: flex;
}
.navmenu a{
    color:var(--primaryColor);
    font-size: 20px;
    text-transform: capitalize;
    padding: 10px 20px;
    font-weight: 400;
    transition: all .42s ease;
    position: relative;
    right: 6rem;
   
}
.navmenu a:hover{
    color:var(--secondaryColor);
}
.nav-icon{
    display: flex;
    align-items: center;
}
.nav-icon i{
    margin-right: 20px;
    color: #2c2c2c;
    font-size: 25px;
    font-weight: 400;
    transition: all .42s ease;
    position: relative;
    left: 2rem;
  
}
.nav-icon i:hover{
    transform: scale(1.1);
    color: var(--secondaryColor);
}
#menu-icon{
    font-size: 35px;
    color: #2c2c2c;
    z-index: 10001;
    cursor: pointer;
}

/*------end header------*/
/*----section 1------*/
.htitle{
    font-size: 50px;
    position: relative;
    left: 5.5rem;
    }
    .button {
        --bg: rgb(255, 255, 255);
        --hover-bg: #090909;
        --hover-text: rgb(218, 120, 141);
        color: rgb(0, 0, 0);
        border: 1px solid var(--bg);
        border-radius: 7px;
        padding: 0.8em 2em;
        background: var(--bg);
        transition: 0.2s;
        position: relative;
        top: 7rem;
        right: 12rem;
       font-size: 20px;
      }
      
      .button:hover {
        color: var(--hover-text);
        transform: translate(-0.25rem,-0.25rem);
        background: var(--hover-bg);
        box-shadow: 0.25rem 0.25rem var(--bg);
      }
      
      .button:active {
        transform: translate(0);
        box-shadow: none;
      }
    /*-----img-------*/
    .hero {
        /* Sizing */
        width: 100%;
        height: 90vh;
        
        /* Flexbox stuff */
        display: flex;
        justify-content: center;
        align-items: center;
        
        /* Text styles */
        text-align: center;
        color: white; /* ADD THIS LINE */
        
        /* Background styles */
        background-image: url(../img/bgabout.jpeg);
        background-size: cover;
        background-position: center bottom;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
    /*---end section1 and img--*/
    /*----section 2----- */
    /*section2*/
.tit1{
font-size: 30px;
margin-left: 40rem;
position: relative;
top: 2rem;
}
hr{
    width: 30%;
    color: #c37b8e;
 
    position: relative;
    top: 4rem;
    left: 33rem;
}
 
.imgabout{
 width: 20%;
position: relative;
left: 68rem;
top: 5rem;
}
.pabout1{
    font-size: 30px;
    text-align: center;;
    position: relative;
   bottom: 15rem;
    left:3cm;
    border: #ffffff solid ;
    width: 60%;
    height: 8cm;
    padding: 30px ;
    box-shadow: #c37b8e 10px 10px 10px 10px;
   
}


/*section me*/
.paa{
    font-size: 30px;
    color:black
}
.walaa{
    height: 10cm;
    position: relative;
    left: 22rem;
    bottom: 20.5rem;
}
   .section2Results{
    display: flex;
    justify-content: center;
    height: 100vh;
    background-image: url(../img/iiiii.jpeg);
  background-size: cover;
    width: 70%;
   height: 12cm;
   position: relative;
   bottom: 4rem;
   left: 15rem;
}

.result1{
margin: 2% 0 5% 0;
background: rgb(218, 137, 159);
width: 90%;
height:90%;
border-radius: 10px;
opacity: .9;
}

.resultsCenter{
    color: rgb(0, 0, 0);;
    padding: 20px 0 0 0;
    text-align: center;
    position: relative;
    top: 3rem;
    right: 10rem;
}
/*---- end section------ */
.contact{
    background-color:var(--primaryColor);
    color: var(--color1);

}
.contact-info{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, auto));
    gap: 3rem;
}
.first-info img{
    width: 150px;
    height: auto;
    position: relative;
    left: 2rem;
}
.second-info{
position: relative;
top: 2.5rem;
}
.third-info{
    position: relative;
    top: 2.5rem;   
}
.fourth-info{
    position: relative;
    top: 2.5rem; 
}
.ccc{
    position: relative;
    right: 1rem;    
}
.contact-info h4{
    color: #ffffff;
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.contact-info p{
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 1.5;
    margin-bottom: 10px;
    cursor: pointer;
    transition: all .42s;
}
.contact-info p:hover{
    color: #cd8c99;
}
.social-icon i{
    color:var(--color1);
    margin-left:5px;
    font-size: 25px;
    transition: all .42s;
    position: relative;
    bottom:  2rem; 
    left: 2rem;
}
.social-icon i:hover{
    transform: scale(1.3);
    color:var(--secondaryColor)
}
.end-text{
    background-color:var(--color1);
    text-align: center;
    padding: 20px;
}
.end-text p{
    color: rgb(0, 0, 0);
    text-transform: capitalize;
}
.email{
    position: relative;
    bottom: 1.2rem;
}
.fa-envelope{
    position: relative;
    right: 1.2rem;
}
.mobile{
    position: relative;
    
    bottom: 2.2rem;
}
.fa-phone{
    position: relative;
    right: 1.2rem;
    bottom: 1rem;   
}
.addd{
    position: relative;
 
    bottom: 3rem;
}
.fa-location-dot{
    position: relative;
   right: 1.2rem;
    bottom: 2rem;  
}

/* Responsive-css */
@media(max-width:890px){
    header{
        padding: 20px 3%;
        transition: .4s;
    }
}
@media(max-width:630px){
    .main-text h1{
        font-size: 50px;
        transition: .4s;
    }
    .main-text p{
        font-size: 18px;
        transition: .4s;
    }
    .main-btn{
        padding: 10px 20px;
        transition: .4s;
    }
}

@media(max-width:750px){
    .navmenu{
        position: absolute;
        top: 100%;
        right:-100%;
        width: 300px;
        height: 130vh;
        background: #edfff1;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 120px 30px;
        transition: all .42s;
    }
    .navmenu a{
        display: block;
        margin: 18px 0;
    }
    .navmenu.open{
        right: 0;
    }
}


     
  





 

