@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
:root{
    --color1:white;
    --primaryColor:black;
    --secondaryColor:rgb(181, 10, 10);
   }

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box; 
    scroll-behavior: smooth;
    text-decoration: none;
     list-style: none;
    font-family: 'Courgette', cursive;
}
 /* ---------------------NAV BAR------------------ */
 header{
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10%;
}
 body{
background-color: #ffffff;
 }
.logo img{
    max-width: 110px;
    height: auto;
    
}
.navmenu{
    display: flex;
}
.navmenu a{
    color: #2c2c2c;
    font-size: 23px;
    text-transform: capitalize;
    padding: 10px 20px;
    font-weight: 400;
    transition: all .42s ease;
}
.navmenu a:hover{
    color: #ad1818;
}
.nav-icon{
    display: flex;
    align-items: center;
}
.nav-icon i{
    margin-right: 20px;
    color: #2c2c2c;
    font-size: 25px;
    font-weight: 400;
    transition: all .42s ease;
  
}
.nav-icon i:hover{
    transform: scale(1.1);
    color: #ad1818;
}
#menu-icon{
    font-size: 35px;
    color: #2c2c2c;
    z-index: 10001;
    cursor: pointer;
}
  /* ---------------------NAV BAR------------------ */
  

/*-----cart----*/

.cart{
    margin: 80px auto;
    width: 70%;
}
table{
    width: 100%;
    border-collapse: collapse;
}

.cart-info{
    display: flex;
    flex-wrap: wrap;

}
th{
    font-size: 18px;
    text-align: left;
    padding: 10px;
    color: #fff;
    background: var(--secondaryColor);
    font-weight: normal;

}
tr{
    border-bottom: 1px solid var(--secondaryColor);
}
tr:last-child{
    border-bottom: none;
}
td{
    padding: 15px 10px;
    color: #561d1d;

}
td input{
    width: 40px;
    height: 30px;
    padding: 5px;
}
td a{
    color: #3d0505;
    font-size: 16px;
}
td img {
    width: 110px;
    height: 80px;
    margin-right: 10px;
}

.total-price{
    display: flex;
    justify-content: flex-end;

}
.total-price table{
    border-top: 3px solid var(--secondaryColor) ;
    width: 100%;
    max-width: 325px;

}
td:last-child{
    text-align: right;
}
th:last-child{
    text-align: right;
}
.total-price a{
    text-decoration: none;
    color: white;
    background-color: var(--secondaryColor);
    font-size: 20px;
    font-weight: 500;
    display: block;
    border-radius: 2px;
    text-align: center;
    padding: 12px 0 10px;
    margin: auto;
    transition: all 0.4s ease;

}
.total-price a:hover{
    background-color: #0d0a0a;

}
 @media (max-width:430px){
    .cart{
        width: 100%;
        

    }
} 
/*-------footar-----*/

/*------footar------*/
.contact{
    background-color:var(--primaryColor);
    color: var(--color1);

}
 .contact-info{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(130px, auto));
    gap: 3rem;
}
.first-info img{
    width: 150px;
    height: auto;
    position: relative;
    left: 1rem;
    top: 1cm;
 
}
.second-info{
position: relative;
top: 2.5rem;
}
.third-info{
    position: relative;
    top: 2.5rem;   
}
.fourth-info{
    position: relative;
    top: 2.5rem; 
}
.ccc{
    position: relative;
    right: 1rem;    
}
.contact-info h4{
    color: #ffffff;
    font-size: 25px;
    text-transform: uppercase;
    margin-bottom: 30px;
}
.contact-info p{
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 1.5;
    margin-bottom: 15px;
    cursor: pointer;
    transition: all .42s;
}
.contact-info p:hover{
    color: #d31d1d;
}
.social-icon i{
    color:var(--color1);
    margin-left:5px;
    font-size: 25px;
    transition: all .42s;
    position: relative;
    top:2.5cm; 
    left: 1.5rem;
}
.social-icon i:hover{
    transform: scale(1.3);
    color:var(--secondaryColor)
}
.end-text{
    background-color:var(--color1);
    text-align: center;
    padding: 20px;
}
.end-text p{
    color: rgb(0, 0, 0);
    text-transform: capitalize;
}
.email{
    position: relative;
    bottom: 1.2rem;
}
.fa-envelope{
    position: relative;
    right: 1.2rem;
}
.mobile{
    position: relative;
    
    bottom: 2.2rem;
}
.fa-phone{
    position: relative;
    right: 1.2rem;
    bottom: 1rem;   
}
.addd{
    position: relative;
 
    bottom: 3rem;
}
.fa-location-dot{
    position: relative;
   right: 1.2rem;
    bottom: 2rem;  
} 


/* Responsive-css */
@media(max-width:890px){
    header{
        padding: 20px 3%;
        transition: .4s;
    }
}
@media(max-width:630px){
    .main-text h1{
        font-size: 50px;
        transition: .4s;
    }
    .main-text p{
        font-size: 18px;
        transition: .4s;
    }
    .main-btn{
        padding: 10px 20px;
        transition: .4s;
    }
}

@media(max-width:750px){
    .navmenu{
        position: absolute;
        top: 100%;
        right:-100%;
        width: 300px;
        height: 130vh;
        background: #ed7474;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 120px 30px;
        transition: all .42s;
    }
    .navmenu a{
        display: block;
        margin: 18px 0;
    }
    .navmenu.open{
        right: 0;
    }
}
