@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
:root{
    --color1:white;
    --primaryColor:black;
    --secondaryColor:rgb(185, 64, 102);
   }

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box; 
    text-decoration: none;
     list-style: none;
    font-family: 'Courgette', cursive;
}


