@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
:root{
    --color1:white;
    --primaryColor:black;
    --secondaryColor:rgb(181, 10, 10);
   }


*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box; 
    scroll-behavior: smooth;
    text-decoration: none;
     list-style: none;
    font-family: 'Courgette', cursive;
}
.logo img{
    max-width: 140px;
    height: auto;
    position: relative;
    top: 1cm;
    left: 1cm;
}

/*form*/
body{
    
    background-image: url(../img/bglosi.jpg);
    background-size: cover;
  
 }

.section2Results{
    display: flex;
    justify-content: center;
    height: 100vh;
}

 .result1{
 margin: 2% 0 5% 0;
 background: rgba(0, 0, 0, 0.641);
 width: 35%;
 height: 72%;
 border-radius: 10px;
 position: relative;
 top: 5rem;
}

.resultsCenter{
    color: rgb(255, 255, 255);;
    padding: 20px 0 0 0;
    text-align: center;
}
 

/*-----form----------*/
.cont{
    position: relative;
    left: 100px;
    bottom: 30px;
    max-width: 460px;
    width: 100%;
    height: 80%;
    background: var(--bgcolor-2);
    border-radius: 30px;
    box-shadow: 0px 20px 30px var(--bgcolor-2);
    overflow: hidden;
    margin: 0 20px;
}

.cont.forms{
    display: flex;
    align-items: center;
    height: 440px;
    width: 200%;
    transition: height 0.2s ease;
}


.cont .form{
    width: 50%;
    padding: 30px;
    background-color: var(--bgcolor-1);
    transition: margin-left 0.18s ease;
}

.cont.active .forms{
    height: 600px;
}
.cont .form .title{
    position: relative;
    left: 30px;
    font-size: 27px;
    font-weight: 600;
}

.form .title::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    background-color: var(--secondaryColor);
    border-radius: 25px;
}

.form .input-field{
    position: relative;
    top: 14px;
    right: 30px;
    height: 43px;
    width: 180%;
    margin-top: 20px;
}

.input-field input{
    
    height: 100%;
    width: 100%;
    padding: 0 35px;
    border: none;
    outline: none;
    font-size: 16px;
    border-bottom: 2px solid #ccc;
    border-top: 2px solid transparent;
    transition: all 0.2s ease;
}

.input-field input:is(:focus, :valid){
    border-bottom-color: var(--secondaryColor);
}

.input-field i{
    position: absolute;
    top: 55%;
    left: 8px;
    transform: translateY(-50%);
    color: var(--primaryColor);
    font-size: 20px;
    transition: all 0.2s ease;
}

.input-field input:is(:focus, :valid) ~ i{
    color: var(--secondaryColor);
}

.input-field i.icon{
    left: 0;
    color: black;
}
.input-field i.showHidePw{
    right: 0;
    cursor: pointer;
    padding: 10px;
}

.form a.text{
    color: var(--secondaryColor);
    text-decoration: none;
}
.form a:hover{
    text-decoration: underline;
}

.form .button{
    margin-top: 35px;
}

.form button {
    border: none;
    box-shadow: 0 3px 8px ;
    color:var(--primaryColor);
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px; 
    border-radius: 20px;
    background-color: var(--color1);
    /* cursor: pointer; */
    transition: 0.3s ;
    width: 150px;
    height:50px ; 
    position: relative;
    bottom: 10px;
 
   
   
}

.button input:hover{
    transform: scale(1.1);
}

 .login-signup{
    margin-top: 20px;
    margin-left: 40px;
    text-align: center;
    width: 180px;
    transform: scale(1.1);
}

@media(max-width:724px){
    body{
        flex-direction: column;
    }
}



