/* ===== Google Font Import - Poformsins ===== */
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
:root{
    --Color-1:white;
    --bgcolor-2:rgb(234, 140, 148);
    --brcolor-3:black;
   
   }


*{
    margin: 0;
    padding: 0; 
     /* overflow-y:hidden;  */
   font-family: 'Courgette', cursive;

}

body{
    
   background-image: url(../b1.jpg);
   background-size: cover;
 
}
.logo{
    display:block;
    width: 13%;
    /* margin-bottom:10px; */
    position: relative; 
     bottom: 1cm;
     right: 10px;
   
} 



.wel {
    top: 5cm;
    left: 30%;
     position: relative; 
    transform: translate(-50%, -50%);
    height: 550px;
    width: 400px;
    box-shadow: 0px 20px 30px var(--bgcolor-2);
    background:var(--bgcolor-2);
    color: var(--white);
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 30px;
}
 


.wel h1 {
    padding: 30px;
    color:var(--white);
  color: var(--brcolor-3);
  margin-top: 20px;
  

}

/* .form-group {
    padding: 7px ;
    padding-left:30px;
    width: 300px;
    margin: 0px;
    border: none;
    color: var(--white);
    
} */

.em{
  margin-right:220px;

  
}
.ps{
    margin-right: 190px;
   
}

.form-control{
    width: 300px;
    height: 40px;
    margin: 0 auto;
     margin: 10px; 
    margin-bottom:20px;
}
.txt:focus{
    outline: none;
} 
#sub {
    margin-top:30px;
    padding: 10px 40px;
    border-radius: 20px;
    border: none;
    box-shadow: 0 10px 15px ;
    background: linear-gradient(var( --Color-1),var( --Color-1)); 
    transition: 0.3s; 
   
}


#sub:hover {
     transform: scale(1.1); 
 
}

.fp {
   
    text-decoration: none;
    color: var(--white);
    transition: 0.3s;
    
}

.fp:hover {
    text-decoration: underline;
    color: var(--Color-1);
}
.acc {
  
    text-decoration: none;
    color: var(--white);
    transition: 0.3s;  
}


.acc:hover {
    text-decoration: underline;
    color: var(--Color-1);
}

.icons {
    margin-top: 15px;
    margin-left: 15px;
}

.icons i {
    padding-right: 8px;
    font-size: xx-large;
}

.icons i :hover {
    transform: scale(1.1);
}

.icons a {
    text-decoration: none;
    color:var(--brcolor-3);
    transition: 0.3s;
}

.icons a:hover {
    color:var(--Color-1);
}  


@media(max-width: 700px){
    .cont{
        left: 50%;
    }
}