@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
:root{
    --color1:white;
    --primaryColor:black;
    --secondaryColor:#dd8ca7;
   }

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box; 
    scroll-behavior: smooth;
    text-decoration: none;
     list-style: none;
    font-family: 'Courgette', cursive;
}


header{
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10%;
   
   
}
.logo img{
    max-width: 150px;
    height: auto;
    position: relative;
    right: 8rem;
    bottom: 56rem;
}
.navmenu{
    display: flex;
}
.navmenu a{
    color:var(--primaryColor);
    font-size: 20px;
    text-transform: capitalize;
    padding: 10px 20px;
    font-weight: 400;
    transition: all .42s ease;
    position: relative;
    right: 6rem;
    bottom: 56rem;
}
.navmenu a:hover{
    color: var(--color1);
}
.nav-icon{
    display: flex;
    align-items: center;
}
.nav-icon i{
    margin-right: 20px;
    color: #2c2c2c;
    font-size: 25px;
    font-weight: 400;
    transition: all .42s ease;
    position: relative;
    left: 2rem;
    bottom: 56rem;
}
.nav-icon i:hover{
    transform: scale(1.1);
    color: var(--color1);
}
#menu-icon{
    font-size: 35px;
    color: #2c2c2c;
    z-index: 10001;
    cursor: pointer;
}
/* .down i{
    font-size: 20px;
    color: #f3ecec;
    border: 2px solid #f8f3f3;
    border-radius: 50px;
    padding: 12px 12px;
    position: relative;
   bottom: 2rem;
   
}
.down i:hover{
    background-color: #040404;
    color: #fff;
    transition: all .42s ease;
}
/* header.sticky{
    background: rgb(251, 250, 250);
    height: 50px;
    padding: 20px 10%;
    box-shadow: 0px 0px 10px rgb(0 0 0 / 10%);
} */ 





/* section1 */
.photo-container{
    width: 100%;
    z-index: -1;
   
    } 
        
    
  @media (min-aspect-ratio: 16/9){
        .photo-container  {
            width: 100%;
            height: auto;
        }
    }
    
    @media (max-aspect-ratio: 16/9){
        .photo-container{
            width: auto;
            height: 100%;
        }
        
    }

    .title1{
        font-size: 80px;
       margin-left: 280px;
        position: relative;
        bottom: 45rem;
        color: white
    }

   /* inspired form gumroad website */
.button {
    --bg: rgb(255, 255, 255);
    --hover-bg: #090909;
    --hover-text: rgb(218, 120, 141);
    color: rgb(0, 0, 0);
    border: 1px solid var(--bg);
    border-radius: 7px;
    padding: 0.8em 2em;
    background: var(--bg);
    transition: 0.2s;
    margin-left: 680px;
  position: relative;
  bottom: 600px;
  font-size: 20px;
  }
  
  .button:hover {
    color: var(--hover-text);
    transform: translate(-0.25rem,-0.25rem);
    background: var(--hover-bg);
    box-shadow: 0.25rem 0.25rem var(--bg);
  }
  
  .button:active {
    transform: translate(0);
    box-shadow: none;
  }

/*End section1 */
  /* section2 */
 
.hr1{
    width: 30%;
 margin-left: 540px;
 position: relative;
 bottom: 16rem;
 color: #da7999;

 
}
.title2{
margin-left: 590px;
position: relative;
bottom: 18rem;
font-size: 35px;

}
section h2{
    color: white;
    text-align: center;
    margin-bottom: 120px;
    font-size: 55px;
}
section h2 span{
    color: rgb(250, 247, 247);

}
.container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    bottom: 14rem;
}

.card {
    width: 350px;
    margin: 15px;
    border-radius: 5px white;
    color: #000000;
    border: #000000 solid 4px;
    box-shadow:2px 2px #080808;
}

.card:hover{
    transition: 0.8s;
    scale: 1.05;
}

.card a {
    color: var(--color1);
}
.card a p {
    /* padding: 2px 20px 15px 20px; */
    text-align: center;
    font-size: 30px;
 
}


.cardImage{
    height: 350px;
    margin-bottom: 5px;
    background-size: cover;
}

.Pic1{
    background-image: url(../img/Designers.jpeg);
}
.Pic2{
    background-image: url(../img/Designs.jpg);
}
.Pic3{
    background-image: url(../img/Customize.jpg);
}

/*  end section2*/
/* trending-section-css */
.center-text h2{
    color: #111;
    font-size: 35px;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 90px;
    position: relative;
    bottom: 12rem;
}
.center-text span{
    color: #f18da1;
}
.hr2{
    width: 30%;
 margin-left: 540px;
 position: relative;
 bottom: 16rem;
 color: #da7999;
}

/*proudct*/
#trind.card{
    width: 280px;
    margin: 18px;
    border-radius: 15%; 
    box-shadow: 3px 3px 3px 3px #191818;
    background-color: #020202;
    position: relative;
    top: 4rem; ;

}
#trind.card:hover{
    transition: 0.8s;
    scale: 1.05;
}

#trind.card a {
    
}
#trind.card a p {
    /* padding: 2px 20px 15px 20px; */
    text-align: center;
    font-size: 30px;
 
}


.cardImage2{
    height: 380px;
    margin-bottom: 5px;
    background-size: cover;
    border-radius: 15%;
}


.Pic4{
    background-image: url(../img/img_product/pro1.jpg);
}
.Pic5{
    background-image: url(../img/img_product/pro3.jpg);
}
.Pic6{
    background-image: url(../img/img_product/pro2.jpg);
}
.Pic7{
    background-image: url(../img/img_product/pro4.jpg); 
}


/*end proudct*/

/*arrival_section*/
.arrival_section{
   background-color: #fcc3cf;
    width: 100%;
 height: 500px;
}
.bg4{
    width: 47%;
    margin-left: 6rem;
}
.title3{
    font-size: 35px;
    margin-left: 61rem;
  position: relative;
  bottom: 25rem;
}
.p1{
    text-align: center;
    font-size: 27px;
    margin-left: 50rem;
  position: relative;
  bottom: 22rem;
}
.button2 {
    --bg: rgb(0, 0, 0);
    --hover-bg: #ffffff;
    --hover-text: rgb(0, 0, 0);
    color: rgb(198, 120, 143);
    border: 1px solid var(--bg);
    border-radius: 7px;
    padding: 0.8em 2em;
    background: var(--bg);
    transition: 0.2s;
    margin-left: 67rem;
  position: relative;
  bottom: 280px;
  font-size: 20px;
  }
  
  .button2:hover {
    color: var(--hover-text);
    transform: translate(-0.25rem,-0.25rem);
    background: var(--hover-bg);
    box-shadow: 0.25rem 0.25rem var(--bg);
  }
  
  .button2:active {
    transform: translate(0);
    box-shadow: none;
  }
  /*  section 4*/
 
.hr3{
    width: 30%;
 margin-left: 530px;
 position: relative;
 top: 5rem;

 color: #da7999;
}
/*////////////////*/
.title4{
    font-size: 35px;
    margin-left:40rem;
    position: relative;
bottom: 1rem;
  }
.reviews{
    text-align: center;
}
.reviews h3{
    color: #111;
    font-size: 25px;
    text-transform: capitalize;
    text-align: center;
    font-weight: 700;
}
.reviews img{
    width: 100px;
    height: auto;
    border-radius: 50px;
    margin: 10px 0;
}
.reviews p{
    color: #707070;
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    margin-bottom: 10px;
}
.reviews h2{
    font-size: 22px;
    color: #000;
    font-weight: 400;
    text-transform: capitalize;
    margin-bottom: 2px;
}
/*///////*/
.contact{
    background-color:var(--primaryColor);
    color: var(--color1);

}
.contact-info{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, auto));
    gap: 3rem;
}
.first-info img{
    width: 150px;
    height: auto;
    position: relative;
    left: 2rem;
}
.second-info{
position: relative;
top: 2.5rem;
}
.third-info{
    position: relative;
    top: 2.5rem;   
}
.fourth-info{
    position: relative;
    top: 2.5rem; 
}
.ccc{
    position: relative;
    right: 1rem;    
}
.contact-info h4{
    color: #ffffff;
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.contact-info p{
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 1.5;
    margin-bottom: 10px;
    cursor: pointer;
    transition: all .42s;
}
.contact-info p:hover{
    color: #cd8c99;
}
.social-icon i{
    color:var(--color1);
    margin-left:5px;
    font-size: 25px;
    transition: all .42s;
    position: relative;
    bottom:  2rem; 
    left: 2rem;
}
.social-icon i:hover{
    transform: scale(1.3);
    color:var(--secondaryColor)
}
.end-text{
    background-color:var(--color1);
    text-align: center;
    padding: 20px;
}
.end-text p{
    color: rgb(0, 0, 0);
    text-transform: capitalize;
}
.email{
    position: relative;
    bottom: 1.2rem;
}
.fa-envelope{
    position: relative;
    right: 1.2rem;
}
.mobile{
    position: relative;
    
    bottom: 2.2rem;
}
.fa-phone{
    position: relative;
    right: 1.2rem;
    bottom: 1rem;   
}
.addd{
    position: relative;
 
    bottom: 3rem;
}
.fa-location-dot{
    position: relative;
   right: 1.2rem;
    bottom: 2rem;  
}

/* Responsive-css */
@media(max-width:890px){
    header{
        padding: 20px 3%;
        transition: .4s;
    }
}
@media(max-width:630px){
    .main-text h1{
        font-size: 50px;
        transition: .4s;
    }
    .main-text p{
        font-size: 18px;
        transition: .4s;
    }
    .main-btn{
        padding: 10px 20px;
        transition: .4s;
    }
}

@media(max-width:750px){
    .navmenu{
        position: absolute;
        top: 100%;
        right:-100%;
        width: 300px;
        height: 130vh;
        background: #edfff1;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 120px 30px;
        transition: all .42s;
    }
    .navmenu a{
        display: block;
        margin: 18px 0;
    }
    .navmenu.open{
        right: 0;
    }
}


     
  





 